/* Common */
:root {
  --seven-segment-font: "Segment7Standard", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Calculator */
.calculator {
  display: block;
  width: max-content;
  margin: 5em auto 0;
  border: 2px solid black;
}

/* Display */
.display {
  font-family: var(--seven-segment-font);
  text-align: center;
  padding: 20px 0;
  font-size: 3em;
}

/* Buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  width: 90px;
  height: 90px;
  font-size: 2em;
  font-weight: 100;
  border: none;
}
